/**
 * @name SoundCloud rubberbands
 * @author Fae
 * @version 1.0.3
 * @description based on astedroid's old work 
*/

@body.theme-dark {
    --button-primary-font-color: #fff;
    --overlay-default-color: #05050578 !important;
    --overlay-color: hsl(0, 0%, 0%) !important;
}

.header__upsellWrapper,
.creatorSubscriptionsButton,
.insightsSidebarModule,
.quotaMeterWrapper,
.sc-font:has(.quotaMeterWrapper),
.sidebarModule:has(iframe[src*="soundcloud.com/n/embeds/credit-tracker"]),
.sidebarModule:has(iframe[src*="velvetcake.soundcloud.com"]) {
    display: none !important;
}

.sc-button,
.playControl,
.editImage__button.editImage.customImage,
.volume__sliderBackground,
.volume__slider_Progress,
.volume__slider__Handle {
    --primary-color: #ff7500;
    transition: ease 0.25s;
}

.modal.modalWhiteout {
    background-color: #05050578;
}

::-webkit-scrollbar {
    width: 13px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #121212;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #9c9c9c;
    border-radius: 10px;
    border: 3px solid #121212;
}

::-webkit-resizer,
::-webkit-scrollbar-corner {
    background: #878787;
    border-radius: 10px;
    border: 2px solid #272727;
}

a.sc-link-secondary {
    color: #666;
    color: var(--link-secondary-color);
    text-shadow: #121212 0px 0px 5px;
}

.sc-button:hover {
    background-color: #2f2f2f21;
    backdrop-filter: saturate(120%) blur(20px);
}

.sc-button.sc-button-primary {
    background-color: #ff7500;
}

.sc-button.sc-button-secondary {
    background-color: #12121200;
}

.sc-button.sc-button-secondary:hover {
    background-color: #2f2f2f57;
}

.sc-button-label {
    color: white;
}

.sc-button-medium,
.sc-button-small {
    border-radius: 30px;
}

.sc-button-small.sc-button-icon {
    min-width: unset;
    min-height: unset;
    padding: 5px;
}

.playbackSoundBadge__actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sc-button-small svg {
    width: 16px;
    height: 16px;
}

.commentForm__submitButton {
    border-radius: 30px;
}

.sc-button-play svg {
    color: #fff;
}

.sc-border-light-right.l-main {
    padding-top: 0px;
}

.sc-input {
    height: 36px;
    background-color: #5d5d5d17;
    border-radius: 50px;
}

.sc-input:hover {
    height: 36px;
    background-color: #5d5d5d3d;
    border-radius: 50px;
    border: solid 1px #ffffff1a;
}

.sc-input:focus {
    height: 36px;
    background-color: #ffffff1c;
    border-radius: 50px;
    border: solid 1px #ffffffba;
}

.sc-text-light.sc-text-secondary.permalinkTextfield__prefixText.sc-type-small.sc-text-body {
    border-top-left-radius: 50px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 50px;
    background-color: #0000;
}

.permalinkTextfield__inputWrapper.g-flex-row-centered {
    background-color: #5d5d5d3d;
    border-radius: 10px;
}

.textfield__input.sc-input.sc-input-medium,
.textfield__input.sc-input.sc-input-large {
    border-radius: 10px;
}

.tagInput__input.tokenInput__input {
    background-color: #0000;
}

.sc-artwork-40x,
.sc-artwork-20x {
    border-radius: 2%;
}

.image.image__noOutline.interactive.m-loaded,
.sc-artwork,
.sc-media-image img,
.badgeWrapper .sc-media-image,
.sc-artwork-group .image,
[class*="sc-artwork"] {
    border-radius: 12px !important;
}

.userAvatar .image,
.sc-media-image .image,
.profileHeaderInfo__avatar .image,
.badgeWrapper img,
.featuredProfile__avatar .image,
.soundBadgeList__item .image {
    border-radius: 12px !important;
}

.sc-artwork span,
.sc-media-image span {
    border-radius: 12px !important;
}

.playControls__queue {
    box-shadow: #121212 0px 0px 10px;
    border-radius: 15px;
}

.queue {
    height: 100%;
    background-color: #121212;
    border-radius: 15px;
    overflow: hidden;
}

.queueItemView__dragHandle {
    display: none;
}

.queueItemView:hover .queueItemView__dragHandle {
    display: flex;
}

.queue__panel {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    height: 64px;
    border-bottom: solid 5px #3a3a3a;
}

.sc-p-2x.queue__panel {
    padding: 6px;
}

.sc-px-2x.queue__itemsHeight {
    padding-left: 0px;
    padding-right: 0px;
}

.queueItemView {
    transition: ease 0.25s;
}

.timestamp-0.visuals__container.visuals__transition.visible {
    mask: linear-gradient(0deg, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1) 100%);
}

.visualSound .soundTitle__uploadTime {
    --surface-color: rgba(0, 0, 0, 0);
}

.MuiStack-root.mui-2brzl5 {
    --mui-palette-background-default: #0000;
}

.modal.g-z-index-modal-background.g-z-index-overlay.showBackground.g-backdrop-filter-grayscale {
    background-color: #05050578;
}

.modalWhiteout {
    background-color: #05050500;
}

.visualSound__progress.g-opacity-transition-500 {
    margin-top: -10px;
    padding-left: 10px;
    padding-right: 10px;
}

.progressBar.g-opacity-transition-500,
.progressBar__bar {
    border-radius: 10px;
}

.playbackTimeline__progressBackground,
.playbackTimeline__progressBar {
    height: 4px;
    margin-top: -2px;
    border-radius: 5px;
    transition: ease 0.25s;
}

.playbackTimeline__duration,
.playbackTimeline__progressWrapper,
.playbackTimeline__timePassed {
    line-height: 0px;
    display: flex;
    align-items: center;
}

.playbackTimeline__progressHandle.sc-ir {
    margin-top: -2px;
    height: 14px;
    width: 14px;
}

.playbackTimeline__progressBar {
    background: linear-gradient(90deg, #f80 0%, #f50 100%);
}

.header {
    padding-top: 6px;
    padding-bottom: 6px;
    background: linear-gradient(180deg, rgba(18, 18, 18, 1) 0%, rgba(18, 18, 18, 0.61) 100%);
    backdrop-filter: saturate(500%) blur(100px);
    border-bottom: solid 0px #ffffff17;
    box-shadow: #121212 0px 2px 10px;
}

.mixedModularHome__item:first-child .mixedSelectionModule__title {
    padding-top: 25px;
}

.userDropbar {
    padding: 16px;
    background: linear-gradient(0deg, rgba(18, 18, 18, 0) 0%, rgba(18, 18, 18, 1) 100%);
}

.sc-mr-2x {
    margin-right: 10px;
}

.sc-mr-3x {
    margin-right: 10px;
}

.sc-ml-3x {
    margin-left: 10px;
}

.dropbar__content {
    background-color: #fff0;
}

.userInfoBar.sc-px-2x {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
}

.profileHeader {
    position: relative;
    padding: 0 28px;
    padding: 0 var(--spacing-3_5x);
    box-sizing: border-box;
    overflow: hidden;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    border-radius: 10px;
    margin-top: 20px;
}

.profileHeaderInfo__avatar.sc-media-image.sc-mr-4x {
    margin-top: 0px;
    margin-right: 35px;
    width: 200px;
    height: 200px;
}

.l-user-hero.sc-px-2x {
    padding-left: 0px;
    padding-right: 0px;
}

.userDropbar__title {
    font-size: 24px;
    line-height: 1.3;
    cursor: pointer;
    text-shadow: #121212 0px 0px 5px;
}

.l-container.l-content {
    height: auto;
    max-height: none;
    overflow: visible;
}

.l-content {
    background-color: #121212;
}

.l-listen-hero {
    margin-top: 26px;
    border-radius: 10px;
}

.dropdownMenu.g-z-index-overlay,
.repostOverlay__container.repostOverlay--wide {
    background-color: #17171742;
    backdrop-filter: saturate(500%) blur(100px);
    border-radius: 25px;
}

.dropdownMenu {
    margin-top: 10px;
}

.scheduleBanner {
    margin-top: 20px;
    position: fixed;
    top: 85%;
    left: 22%;
    margin-left: -100px;
    z-index: 4;
    border-radius: 5px;
    background: #121212cc;
    backdrop-filter: saturate(500%) blur(10px);
}

.l-listen-wrapper {
    height: 100%;
    border-radius: 10px;
}

.timestamp-0.visuals__container.visuals__transition.visible {
    border-radius: 10px;
}

.commentForm.commentForm__transition.visible {
    background-color: #a1a1a100;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
}

.featuredProfiles.theme-dark.populated {
    background: linear-gradient(90deg, #12121200 0%, #121212 100%);
    backdrop-filter: saturate(120%) blur(5px);
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top: solid #ffffff45 1px;
    border-left: solid #ffffff45 1px;
    box-shadow: #000 0px 0px 20px;
    padding-top: 0px;
    transition: ease 0.25s;
}

.featuredProfiles.theme-dark.populated.expanded {
    background: linear-gradient(90deg, #12121278 0%, #121212 100%);
    backdrop-filter: saturate(120%) blur(20px);
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top: solid #ffffff45 1px;
    border-left: solid #ffffff45 1px;
    box-shadow: #000 0px 0px 80px;
    margin-top: 10px;
}

.searchTitle {
    width: 1240px;
    z-index: 10;
    background-color: #0000;
}

.dropbar__content {
    padding-top: 10px;
}

.theme-dark {
    --link-secondary-hover-color: hsl(0deg 0% 100%);
}

.playControls__bg {
    visibility: unset;
}

.playControls__inner {
    background: linear-gradient(0deg, #121212f0 0%, #121212c2 100%);
    -webkit-backdrop-filter: saturate(0%) blur(10px);
    backdrop-filter: saturate(100%) blur(10px);
    width: fit-content;
    border-radius: 50px;
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: #121212 1px 0px 10px;
    margin-bottom: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: solid 1px #4d4d4d69;
}

.playControls {
    position: fixed;
    bottom: 0;
    visibility: hidden;
    width: 100%;
    perspective: 900;
    perspective-origin: 80% 100%;
    display: flex;
    justify-content: center;
}

.l-sidebar-right {
    border-left: solid 1px #ffffff17;
    padding-top: 6px;
}

.sc-border-light-right.l-main {
    padding-top: 0px;
}

.content {
    margin-top: 10px;
}

.backgroundGradient {
    mask-image: linear-gradient(180deg, #0000 0%, #050505 100%);
    filter: saturate(500%);
    border-radius: 10px;
    box-shadow: inset 0 0 10px #000;
}

.sc-mx-2x {
    margin-left: 0px;
    margin-right: 0px;
}

.sound__body {
    padding: 8px 0 0px 0px;
    margin-top: 25px;
}

.userInfoBar__tabs .g-tabs-link {
    padding: 5px 10px;
}

.latestUploadContainer__gradient,
.latestUploadContainer__soundWrapper {
    border-radius: 100px;
}

.fullHero__uploadTime.theme-dark {
    background: transparent !important;
    color: inherit !important;
}

.genericTrackCount.sc-font.theme-dark.sc-pt-2x.sc-text-primary.m-active {
    --surface-color: #0505054f;
}

.volume__sliderBackground {
    background-color: #ffffff40;
}

.volume__sliderProgress {
    background: #ff7500;
}

.volume__sliderHandle {
    border: 1.5px solid #ff7500;
}

.volume__sliderHandle:hover {
    border: 1.5px solid #ffc99c;
}

.dialog {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid rgba(var(--primary-rgb), .15);
    background: linear-gradient(0deg, rgba(18, 18, 18, 0.3) 0%, rgba(18, 18, 18, 1) 85%);
    -webkit-backdrop-filter: saturate(500%) blur(100px);
    backdrop-filter: saturate(500%) blur(100px);
    box-shadow: #121212 0px 0px 50px;
}

.dialog__arrow {
    mask: linear-gradient(-45deg, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 1) 51%);
    background: #121212;
}

.creatorBadge__custom {
    border-radius: 2px;
    color: #fff;
}

.creatorBadge__container svg path {
    fill: #ff7300;
    background-color: #fff;
}

.sc-truncate {
    overflow: hidden;
}

.sc-tag {
    background: #38383885;
    -webkit-backdrop-filter: saturate(100%) blur(100px);
    backdrop-filter: saturate(100%) blur(5px);
    box-shadow: #1212129e 0px 0px 5px;
    transition: ease 0.25s;
}

.editImage.customImage {
    transition: ease 0.25s;
}

.image.image__noOutline.interactive.m-loaded {
    width: 200px !important;
    height: 200px !important;
    max-width: 200px !important;
    max-height: 200px !important;
}

.image.image__noOutline.interactive.m-loaded > span {
    width: 102% !important;
    height: 100% !important;
    background-size: cover !important;
}